@model BucketList.Models.UserList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ListCategories.ListCategories)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListCategories.ListCategories)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserIsComplete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserIsComplete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ListId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
