<link href="~/Content/UserListSS.css" rel="stylesheet" />

@model IEnumerable<BucketList.Models.UserList>

@{
    ViewBag.Title = "Index";
}

<h2>My Bucket List</h2>

<p>@Html.ActionLink("Create New", "Create")</p>

@foreach (var item in Model)
{
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="thumbnail">

            <div class="caption">

                <p><h5>@Html.DisplayNameFor(model => model.ListCategories.ListCategories)</h5> @Html.DisplayFor(modelItem => item.ListCategories.ListCategories)</p>

                <p><h5>@Html.DisplayNameFor(model => model.Title)</h5> @Html.DisplayFor(modelItem => item.Title)</p>

                <p><h5>@Html.DisplayNameFor(model => model.Description)</h5> @Html.DisplayFor(modelItem => item.Description)</p>

                <p><h5>@Html.DisplayNameFor(model => model.ItemCategory)</h5> @Html.DisplayFor(modelItem => item.ItemCategory)</p>

                <p><h5>@Html.DisplayNameFor(model => model.Link)</h5> @Html.DisplayFor(modelItem => item.Link)</p>

                <p><h5>@Html.DisplayNameFor(model => model.Location)</h5> @Html.DisplayFor(modelItem => item.Location)</p>

                <p><h5>@Html.DisplayNameFor(model => model.UserIsComplete)</h5> @Html.DisplayFor(modelItem => item.UserIsComplete)</p>

                <p><h5>@Html.DisplayNameFor(model => model.ApplicationUserId)</h5> @Html.DisplayFor(modelItem => item.ApplicationUserId)</p>


                @Html.ActionLink("Edit", "Edit", new { id = item.ListId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ListId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ListId })

            </div>
        </div>
    </div>
}


<div id="map"></div>


@*<script>
    //var map;
    function initMap() {
        //constructor creates a new map - only center and zoom are required.
        var map = new google.maps.Map(document.getElementById('map'),
            {
                center: { lat: 41.505493, lng: -81.681290 },
                zoom: 10
            })
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0HgPFTiuyuSXg_UYoDOX8vV6a2t3c_zg&callback=initMap">
</script>*@
